h1{
    text-align: center;
    font-family: 'open sans';
}
.marg-form{
    padding: 12px;
    font-size: 15px;
    overflow: hidden;
    width: 70%;
    margin: 40px auto 5px;
    border: 3px solid;
}
.caja-texto{
    width: 60%;
    padding: 5px;
    font-size: 15px;
    margin-bottom: 8px;
    font-family: 'open sans';
}
.caja-radio{
    padding: 5px;
    margin-bottom: 8px;
    font-size: 15px;
    font-family: 'open sans';
    cursor: pointer;
}
a{
    color: blue;
    cursor: pointer;
}
form a:hover{
    color: deepskyblue;
}
.button{
    padding: 10px;
    width: 110px;
    margin-left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
body{
    background: linear-gradient(to right, #ffffff98, rgba(255, 255, 255, 0.151)), url(../Img/fondo\ registro.jpg);
    position: relative;
    font-family: 'open sans';
}