h1{
    text-align: center;
    font-family: 'open sans';
    margin: 10px;
    color: white;
}
.marg-form{
    padding: 12px;
    padding-top: 10px;
    font-size: 18px;
    overflow: hidden;
    width: 70%;
    margin: 80px auto 5px;
    border: 3px solid white;
}
h3{
    width: 80%;
    padding: 5px;
    font-size: 18px;
    margin-bottom: 8px;
    font-family: 'open sans';
    font-weight: bold;
    color: white;
}
.button{
    padding: 10px;
    width: 200px;
    margin-left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid #000000;
    color: black;
    font-weight: bold;
    font-size: 15px;
}
.button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 30px 0 rgba(0,0,0,0.19);
    opacity: 0.98;
}
body{
    background: linear-gradient(to right, #52320d00, #472d0b00, #442e0600), url(../Img/fondo2.jpg);
    position: relative;
}